<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Miokovic-5</display-name>
  <welcome-file-list>
  <welcome-file>jsf/createTask.xhtml</welcome-file>
  </welcome-file-list>
  <display-name>Treci labos</display-name>
	<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<security-role>
		<role-name>Radnik</role-name>
	</security-role>
	<security-role>
		<role-name>Administrator</role-name>
	</security-role>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>CetvrtaLaboratorijskaVjezba</web-resource-name>
			<url-pattern>*.xhtml</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Radnik</role-name>
			<role-name>Administrator</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>Tomcat Server Configuration Form-Based Authentication Area</realm-name>
		<form-login-config>
			<form-login-page>/login.xhtml</form-login-page>
			<form-error-page>/login.xhtml?login_error=true</form-error-page>
		</form-login-config>
	</login-config>
</web-app>